<div class="py-2 bg-white sticky-bottom d-lg-none border-top">
    <div class="container">
        <div class="d-flex align-items-center justify-content-around">
            <a href="/home" class="text-decoration-none text-reset">
                <i class="bi bi-house-door fs-2"></i>
            </a>

            <i class="bi bi-people fs-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>

            <i class="bi bi-plus-square fs-2" data-bs-toggle="modal" data-bs-target="#newBookModal"
            data-bs-whatever="@mdo"></i>

            <% if (locals.userPicture) { %>
                <div class="picture-profile" style="height: 30px; width: 30px;">
                    <a href="/profile">
                        <img src="<%= locals.userPicture %>" alt="Profile Picture">
                    </a>
                </div>
            <% } else { %>
                <a href="/profile" class="text-decoration-none text-reset">
                    <i class="bi bi-person-circle fs-2"></i>
                </a>
            <% } %>

            <a href="/logout">
                <i class="bi bi-box-arrow-right fs-2 text-danger"></i>
            </a>
        </div>
    </div>
</div>