<div class="modal fade" id="modalFollowing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Following</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div id="followingList">
                    <!-- Lista de seguidores será injetada aqui -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const modalElement = document.getElementById('modalFollowing');
        modalElement.addEventListener('show.bs.modal', async function () {
            const showFollowingModal = document.getElementById('showFollowingModal');
            const userId = showFollowingModal.getAttribute('data-user-id');
            const response = await fetch(`/following?user_id=${userId}`);
            const followings = await response.json();

            const followingList = document.getElementById('followingList');
            followingList.style.maxHeight = '350px';
            followingList.style.overflowY = 'auto';
            followingList.innerHTML = ''; // Limpa a lista existente

            followings.forEach(following => {
                const userContainer = document.createElement('div');

                const userLink = document.createElement('a');
                userLink.href = `/user/profile?userId=${following.id}`;
                userLink.className = 'text-decoration-none text-dark d-flex align-items-center justify-content-between';

                const userInfo = document.createElement('div');
                userInfo.className = 'd-flex align-items-center';

                if (following.picture) {
                    const userImage = document.createElement('img');
                    userImage.src = following.picture;
                    userImage.className = 'rounded-circle my-2';
                    userImage.style.width = '40px';
                    userImage.style.height = '40px';
                    userImage.style.marginRight = '10px';
                    userInfo.appendChild(userImage);
                } else {
                    const userIcon = document.createElement('i');
                    userIcon.className = 'bi bi-person-circle';
                    userIcon.style.fontSize = '40px';
                    userIcon.style.marginRight = '10px';
                    userInfo.appendChild(userIcon);
                }

                const userName = document.createElement('span');
                userName.textContent = following.username;

                userInfo.appendChild(userName);

                const followForm = document.createElement('form');
                followForm.method = 'post';
                followForm.className = 'mb-0';
                followForm.action = following.isfollowing ? '/unfollow' : '/follow';

                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'userId';
                hiddenInput.value = following.id;

                const followButton = document.createElement('button');
                followButton.type = 'submit';
                followButton.className = `btn btn-${following.isfollowing ? 'secondary' : 'primary'} btn-sm`;

                const icon = document.createElement('i');
                icon.className = `fas fa-user-${following.isfollowing ? 'check' : 'plus'}`;
                followButton.appendChild(icon);

                followForm.appendChild(hiddenInput);
                followForm.appendChild(followButton);

                userLink.appendChild(userInfo);  // Adiciona o div com a imagem e nome no link
                userLink.appendChild(followForm);  // Adiciona o formulário de follow/unfollow no link

                userContainer.appendChild(userLink);  // Adiciona o link no container
                followingList.appendChild(userContainer); // Adiciona o container na lista
            });
        });
    });
</script>