<div class="modal fade" id="modalFollowing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Following</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div id="followingList">
                    <!-- Lista de seguidores será injetada aqui -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const modalElement = document.getElementById('modalFollowing');
        modalElement.addEventListener('show.bs.modal', async function () {
            const showFollowingModal = document.getElementById('showFollowingModal');
            const userId = showFollowingModal.getAttribute('data-user-id');
            const response = await fetch(`/following?user_id=${userId}`);
            const followings = await response.json();

            const followingList = document.getElementById('followingList');
            followingList.style.height = '300px'
            followingList.style.overflowY = 'auto'
            followingList.innerHTML = ''; // Limpa a lista existente

            followings.forEach(following => {
                const userLink = document.createElement('a');
                userLink.href = `/user/profile?userId=${following.id}`; // Insere o link para o perfil do usuário
                userLink.className = 'text-decoration-none text-dark';

                const userDiv = document.createElement('div');
                userDiv.className = 'd-flex align-items-center m-0 p-0';

                if (following.picture) {
                    // Se a imagem existir
                    const userImage = document.createElement('img');
                    userImage.src = following.picture;
                    userImage.className = 'rounded-circle my-2';
                    userImage.style.width = '40px';
                    userImage.style.height = '40px';
                    userImage.style.marginRight = '10px';
                    userDiv.appendChild(userImage);
                } else {
                    // Se a imagem for nula, exibe o ícone
                    const userIcon = document.createElement('i');
                    userIcon.className = 'bi bi-person-circle';
                    userIcon.style.fontSize = '40px'; // Define o tamanho do ícone
                    userIcon.style.marginRight = '10px';
                    userDiv.appendChild(userIcon);
                }

                const userName = document.createElement('span');
                userName.textContent = following.username;

                userDiv.appendChild(userName);
                userLink.appendChild(userDiv); // Adiciona o div dentro do link
                followingList.appendChild(userLink); // Adiciona o link na lista
            });
        });
    });
</script>