* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Sidebar */
.filter-sidebar {
    align-items: center;
    height: 40px;
    width: 90%;
    margin: 10px 0 0 0;
}

.filter-sidebar .btn-filter {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
}

.custom-offcanvas .offcanvas-header {
    border-bottom: 1px solid #dee2e6; /* Linha de separação */
    padding: 1rem 1.5rem;
}

.custom-offcanvas .offcanvas-title {
    font-weight: bold;
    color: #343a40;
}

.sidebar {
    overflow-y: auto;
    height: 80%;
}

.sidebar > ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.sidebar > ul > li {
    padding: 0;
    margin: 0;
}

.sidebar > ul > li > a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    transition: .3s ease;
}

.sidebar > ul > li > a:hover {
    background-color: #f0f0f0;
}

.sidebar > ul > li > a > p {
    padding-left: 10px;
}

.sidebar .users-profile {
    height: 39px;
    width: 39px;
}
/* Fim Sidebar */

.filter {
    width: 100%;
    border: 1px solid #DEE2E6;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: #fff;
}

.filter input {
    width: 100%;
    border: none;
    padding-left: 15px;
    background-color: transparent;
}

.filter input:focus {
    outline: none;
    border: none;
}

.card {
    cursor: pointer;
}

.profile {
    display: flex;
    gap: 10px;
}

.picture-profile {
    height: 35px;
    width: 35px;
}

.picture-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.users-profile {
    height: 35px;
    width: 35px;
}

.users-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.viewProfile-picture {
    height: 45px;
    width: 45px;
}

.viewProfile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.alternative-picture {
    font-size: 45px;
}

.card-profile {
    width: 100%;
    height: 30px;
}

.card-profile img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
}

.cards-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.cards-group:last-child {
    margin-bottom: 50px;
}

.flip-horizontal-left.flipped .flip-card-inner {
    transform: rotateY(-180deg);
}

.flip-horizontal-left .flip-card-back {
    transform: rotateY(-180deg);
}

.flip-card {
    width: 300px;
    height: 460px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card-front, 
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

.flip-card-back > .card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.flip-card-back > .card-body > .card-title > h2 {
    font-size: 30px;
}

.flip-card-back > .card-body > .card-title > p {
    font-weight: bold;
    font-size: 12px;
    color: darkcyan;
}

.flip-card-back > .card-body > .card-text > p {
    text-indent: 20px;
}

.card-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.card-image img {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}

.card-image img, .card-body {
    cursor: pointer;
}

.button {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: start;
    padding: 5px;
    border-radius: 5px;
}

.button:hover {
    background-color: #F8F9FA;
}

.navigation-picture {
    height: 30px;
    width: 30px;
}

.navigation-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@media (max-width: 1023px) {
    .cards-group {
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .flip-card {
        width: 320px;
        height: 480px;
    }

    .flip-card-back > .card-body > .card-text > p {
        font-size: 1.1rem;
    }

    .sidebar .users-profile {
        height: 30px;
        width: 30px;
    }

    .viewProfile-picture {
        height: 40px;
        width: 40px;
    }

    .alternative-picture {
        font-size: 40px;
    }
}